.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  position: relative;
  width: 221.48px;
  height: 360px;

}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-name {
  font-size: 12px;
  height: 32px;
  color: #313133;
  overflow-x: hidden;
  text-overflow: ellipsis;

}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f68b1e;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background-color: #f68b1e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  visibility: hidden;
}

.product-card:hover .add-to-cart-btn {
  visibility: visible;
}

.add-to-cart-btn:hover {
  background-color: #e67e22;
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.quantity-btn {
  background-color: #fff;
  color: #f68b1e;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-btn:hover {
  background-color: #f68b1e;
  color: #fff;
}

.quantity {
  font-size: 1.2rem;
  color: #f68b1e;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  color: #ccc;
  margin-right: 2px;
}

.star.filled {
  color: #f68b1e;
}

.rating-count {
  font-size: 0.8rem;
  color: #666;
  margin-left: 5px;
}

.product-link {
  text-decoration: none;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #f68b1e;
  font-size: 1.2rem;
  margin-bottom: 10px;
  position: absolute;
  right: 20px;
  bottom: 155px;
  border-radius: 120px;
}

.heart-icon.filled {
  color: #f68b1e;
}
.heart-icon {
  font-size: 0.9rem;
}
